# qtcreator
*.autosave
*.user*
*.user
*.creator
*.files
*.includes
*.config

# OpenFOAM
*.dep

# ### From github for C++ ##.#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
